<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.site.datasearch.service.mapper.MosnItemMapper">

    <resultMap type="com.piesat.site.datasearch.service.entity.MosnItem" id="MosnItemResult">
        <id     property="itemId"          column="item_id"/>
        <result property="itemCode"        column="item_code"/>
        <result property="itemName"        column="item_name"/>
        <result property="itemType"        column="item_type"/>
        <result property="required"        column="required"/>
        <result property="visible"         column="visible"/>
        <result property="status"          column="status"/>
        <result property="orderNum"        column="order_num"/>
        <result property="createBy"        column="create_by"/>
        <result property="createTime"      column="create_time"/>
        <result property="updateBy"        column="update_by"/>
        <result property="updateTime"      column="update_time"/>
        <result property="remark"          column="remark"/>
    </resultMap>

    <sql id="selectItemVo">
        select
            item_id,
            item_code,
            item_name,
            item_type,
            required,
            visible,
            status,
            order_num,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from mosn_item
    </sql>

    <select id="selectItemByIds" parameterType="java.lang.Long" resultMap="MosnItemResult">
        <include refid="selectItemVo"/>
        where item_id in
        <foreach collection="array" item="itemIds" open="(" separator="," close=")">
            #{itemIds}
        </foreach>
        order by order_num asc
    </select>

    <select id="selectItemList" parameterType="com.piesat.site.datasearch.service.entity.MosnItem" resultMap="MosnItemResult">
        <include refid="selectItemVo"/>
        <where>
            <if test="itemCode != null and itemCode != ''">
                AND item_code = #{itemCode}
            </if>
            <if test="itemName != null and itemName != ''">
                AND item_name = like concat('%', #{itemName}, '%')
            </if>
            <if test="itemType != null and itemType != ''">
                AND item_type = #{itemType}
            </if>
        </where>
        order by order_num asc
    </select>

    <select id="selectItemById" parameterType="java.lang.Long" resultMap="MosnItemResult">
        <include refid="selectItemVo"/>
        where item_id = #{itemId}
        order by order_num asc
    </select>

    <insert id="insertItem" parameterType="com.piesat.site.datasearch.service.entity.MosnItem">
        insert into mosn_item(
        <if test="itemId != null and itemId != ''">item_id,</if>
        <if test="itemCode != null and itemCode != ''">item_code,</if>
        <if test="itemName != null and itemName != ''">item_name,</if>
        <if test="itemType != null and itemType != ''">item_type,</if>
        <if test="required != null and required != ''">required,</if>
        <if test="visible != null and visible != ''">visible,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="orderNum != null and orderNum != ''">order_num,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="itemId != null and itemId != ''">#{itemId},</if>
        <if test="itemCode != null and itemCode != ''">#{itemCode},</if>
        <if test="itemName != null and itemName != ''">#{itemName},</if>
        <if test="itemType != null and itemType != ''">#{itemType},</if>
        <if test="required != null and required != ''">#{itemType},</if>
        <if test="visible != null and visible != ''">#{visible},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="updateItem" parameterType="com.piesat.site.datasearch.service.entity.MosnItem">
        update mosn_item
        <set>
            <if test="itemCode != null and itemCode != ''">item_code = #{itemCode},</if>
            <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
            <if test="itemType != null and itemType != ''">item_type = #{itemType},</if>
            <if test="required != null and required != ''">required = #{required},</if>
            <if test="visible != null and visible != ''">visible = #{visible},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where item_id = #{itemId}
    </update>

    <delete id="deleteItem" parameterType="Long">
        delete from mosn_item where item_id in
        <foreach collection="array" item="itemIds" open="(" separator="," close=")">
            #{itemIds}
        </foreach>
    </delete>
</mapper>