<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.site.datasearch.service.mapper.MosnRecommendDetailMapper">

    <resultMap type="com.piesat.site.datasearch.service.entity.MosnRecommendDetail" id="MosnRecommendDetailResult">
        <id     property="id"                   column="id"/>
        <result property="name"                 column="name"/>
        <result property="pid"                  column="pid"/>
        <result property="productId"            column="product_id"/>
        <result property="url"                  column="url"/>
        <result property="isLink"               column="is_link"/>
        <result property="sort"                 column="sort"/>
        <result property="value"                column="value"/>
        <result property="createBy"             column="create_by"/>
        <result property="createTime"           column="create_time"/>
        <result property="updateBy"             column="update_by"/>
        <result property="updateTime"           column="update_time"/>
        <result property="remark"               column="remark"/>
    </resultMap>

    <sql id="selectRecommendDetailVo">
        select
            id,
            name,
            pid,
            product_id,
            url,
            is_link,
            value,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from mosn_recommend_detail
    </sql>


    <select id="selectRecommendDetailAll" resultMap="MosnRecommendDetailResult">
        <include refid="selectRecommendDetailVo"/>
    </select>

    <insert id="insertRecommendDetail" parameterType="com.piesat.site.datasearch.service.entity.MosnRecommendDetail">
        insert into mosn_recommend_detail(
        <if test="id != null and id != ''">id,</if>
        <if test="name != null and name != ''">name,</if>
        <if test="pid != null and pid != ''">pid,</if>
        <if test="productId != null and productId != ''">product_id,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="isLink != null and isLink != ''">is_link,</if>
        <if test="value != null and value != ''">value,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="id != null and id != ''">#{id},</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="pid != null and pid != ''">#{pid},</if>
        <if test="productId != null and productId != ''">#{productId},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="isLink != null and isLink != ''">#{isLink},</if>
        <if test="value != null and value != ''">#{value},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="updateRecommendDetail" parameterType="com.piesat.site.datasearch.service.entity.MosnRecommendDetail">
        update mosn_recommend_detail
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="pid != null and pid != ''">pid = #{pid},</if>
            <if test="productId != null and productId != ''">product_id = #{productId},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="isLink != null and isLink != ''">is_link = #{isLink},</if>
            <if test="value != null and value != ''">value = #{value},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>
</mapper>