<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.site.datasearch.service.mapper.MosnTitleMapper">

    <resultMap type="com.piesat.site.datasearch.service.entity.MosnTitle" id="MosnTitleResult">
        <id     property="titleId"         column="title_id"/>
        <result property="formId"          column="form_id"/>
        <result property="titleName"       column="title_name"/>
        <result property="titleType"       column="title_type"/>
        <result property="items"           column="items"/>
        <result property="visible"         column="visible"/>
        <result property="status"          column="status"/>
        <result property="orderNum"        column="order_num"/>
        <result property="createBy"        column="create_by"/>
        <result property="createTime"      column="create_time"/>
        <result property="updateBy"        column="update_by"/>
        <result property="updateTime"      column="update_time"/>
        <result property="remark"          column="remark"/>
    </resultMap>

    <sql id="selectTitleVo">
        select
            title_id,
            form_id,
            title_name,
            title_type,
            items,
            visible,
            status,
            order_num,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from mosn_title
    </sql>

    <select id="selectTitleByIds" parameterType="java.lang.Long" resultMap="MosnTitleResult">
        <include refid="selectTitleVo"/>
        where title_id in
        <foreach collection="array" item="titleIds" open="(" separator="," close=")">
            #{titleIds}
        </foreach>
        order by order_num asc
    </select>

    <select id="selectTitleList" parameterType="com.piesat.site.datasearch.service.entity.MosnTitle" resultMap="MosnTitleResult">
        <include refid="selectTitleVo"/>
        <where>
            <if test="formId != null and formId != ''">
                AND title_id = #{formId}
            </if>
            <if test="titleName != null and titleName != ''">
                AND title_name = like concat('%', #{titleName}, '%')
            </if>
            <if test="titleType != null and titleType != ''">
                AND title_type = #{titleType}
            </if>
        </where>
        order by order_num asc
    </select>

    <select id="selectTitleById" parameterType="java.lang.Long" resultMap="MosnTitleResult">
        <include refid="selectTitleVo"/>
        where title_id = #{titleId}
        order by order_num asc
    </select>

    <insert id="insertTitle" parameterType="com.piesat.site.datasearch.service.entity.MosnTitle">
        insert into mosn_title(
        <if test="titleId != null and titleId != ''">title_id,</if>
        <if test="formId != null and formId != ''">form_id,</if>
        <if test="titleName != null and titleName != ''">title_name,</if>
        <if test="titleType != null and titleType != ''">title_type,</if>
        <if test="items != null and items != ''">items,</if>
        <if test="visible != null and visible != ''">visible,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="orderNum != null and orderNum != ''">order_num,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="titleId != null and titleId != ''">#{titleId},</if>
        <if test="formId != null and formId != ''">#{formId},</if>
        <if test="titleName != null and titleName != ''">#{titleName},</if>
        <if test="titleType != null and titleType != ''">#{titleType},</if>
        <if test="items != null and items != ''">#{items},</if>
        <if test="visible != null and visible != ''">#{visible},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="updateTitle" parameterType="com.piesat.site.datasearch.service.entity.MosnTitle">
        update mosn_title
        <set>
            <if test="formId != null and formId != ''">form_id = #{formId},</if>
            <if test="titleName != null and titleName != ''">title_name = #{titleName},</if>
            <if test="titleType != null and titleType != ''">title_type = #{titleType},</if>
            <if test="items != null and items != ''">items = #{items},</if>
            <if test="visible != null and visible != ''">visible = #{visible},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where title_id = #{titleId}
    </update>

    <delete id="deleteTitle" parameterType="Long">
        delete from mosn_title where title_id in
        <foreach collection="array" item="titleIds" open="(" separator="," close=")">
            #{titleIds}
        </foreach>
    </delete>
</mapper>