<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.site.system.customcolumn.service.mapper.ColumnMapper">

    <select id="queryColumnList" parameterType="com.piesat.site.system.customcolumn.service.dto.QueryColumnReqDto" resultType="com.piesat.site.system.customcolumn.service.entity.ColumnData">
        select COLUMN_ID as columnId,COLUMN_NAME as columnName,URL as columnUrl,PNG_SHOW as columnPng,STATUS as columnStatus,JUMP_LINK as columnLink,
               SORT as columnSort,CREATE_TIME as createTime,CREATE_USER as createUser,UPDATE_TIME as updateTime,UPDATE_USER as updateUser from MGR_CUSTOM_COLUMN
        where STATUS='1'
    </select>

    <insert id="addColumn" parameterType="com.piesat.site.system.customcolumn.service.dto.AddColumnReqDto">
        INSERT INTO MGR_CUSTOM_COLUMN (COLUMN_ID,COLUMN_NAME,URL,PNG_SHOW,STATUS,JUMP_LINK,SORT,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER)
        values (#{columnId}, #{columnName}, #{columnUrl}, #{columnPng}, #{columnStatus}, #{columnLink}, #{columnSort}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser})
    </insert>

    <update id="updateColumn" parameterType="com.piesat.site.system.customcolumn.service.dto.EditColumnReqDto">
        update MGR_CUSTOM_COLUMN set COLUMN_NAME=#{columnName}, URL=#{columnUrl}, PNG_SHOW=#{columnPng}, JUMP_LINK=#{columnLink}, SORT=#{columnSort}
        where COLUMN_ID=#{columnId}
    </update>

    <delete id="deleteColumn" parameterType="java.lang.Integer">
        delete from MGR_CUSTOM_COLUMN where COLUMN_ID=#{columnId}
    </delete>
</mapper>